h1 {
  font-family: serif;
}

.landinglink {
  padding: 10px
}

.worklink {
  padding: 10px
}

.projlink {
  padding: 10px
}

.edulink {
  padding: 10px
}

.backgroundLanding {
  background: url("university-st-andrews.jpg");
  min-height: 100vh;
  min-width: 100vw;
}

.personalinfobox {
  background-color: white;
  min-height: 100vh;
  min-width: 30vw;
}
