h1 {
  font-family: serif;
}

.landinglink {
  padding: 10px
}

.worklink {
  padding: 10px
}

.projlink {
  padding: 10px
}

.edulink {
  padding: 10px
}

.backgroundWork {
  background: url("work.jpg");
  min-height: 100vh;
  min-width: 100vw;
  background-size:contain;

}

.backgroundProjects {
  background: url("project.jpg");
  min-height: 100vh;
  min-width: 100vw;
  background-size:contain;

}

.backgroundEducation {
  background: url("education.jpg");
  min-height: 100vh;
  min-width: 100vw;
  background-size:contain;

}

.backgroundLanding {
  background-image: url("university-st-andrews.jpg");
  min-height: 100vh;
  min-width: 100vw;
  background-size:contain;
}

.personalinfo {
  background-color: white;
  height: 100%;
  min-width: 30vw;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 25px;
}

.aboutme {
  background-color: white;
  height: 100%;
  min-width: 50vw;
  margin-top: 30px;
  margin-left: 20px;
}

h4 {
  font-family: serif;
}

img[src*=smartphoneicon] {
  height: auto;
  width: 8%;
}

.underline{
  border-bottom: 5px solid black;
}

img[src*=email] {
  height: auto;
  width: 8%;
}

img[src*=github] {
  float: left;
}

img[src*=linkedin] {
  float: right;
  margin-top: 30px;
}

img[src*=launch] {
  float: right;
}

img[src*=Crest] {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[src*=launch] {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: 70px;
}

img[src*=neu] {
  width: 62%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.aboutme {
  border-radius: 25px;
}

.bgwork {
  background-color: white;
  margin-top: 30px;
  margin-left: 30px;
}

.bgworktext {
  background-color: orange;
  margin-top: 30px;
  border: 5px solid black;
}

.bgedu1 {
  background-color: white;
  margin-left: 100px;
}

.bgedu2 {
  background-color: white;
  margin-left: 100px;
}

.bgedu3 {
  background-color: white;
  margin-left: 100px;
  margin-right: 30px;
}

.bordertop {
  border-top: 5px solid black;
}

.borderbottom {
  border-bottom: 5px solid black;
}
